/* RESET */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* HEADER */
.logo__img {
  width: 10rem;
}

.navbar-light .navbar-nav .nav-link.active {
  color: orangered;
}

.navbar-light .navbar-nav .nav-link {
  color: #0c2453;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  padding: 1rem;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: steelblue;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* MEDIA */
@media (max-width: 700px) {
  .logo__img {
    width: 6rem;
  }
}

/* CARRUSEl */
.carrusel--foto {
  width: 100%;
  height: 50rem;
}

.casrrusel {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.carrusel--texto {
  position: absolute;
  top: 3rem;
  left: 2rem;
  font-size: 1.5rem;
  color: #021d53;
  font-family: 'Patrick Hand', cursive;
}

.carrusel--boton {
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-100%, -10%);
          transform: translate(-100%, -10%);
  text-decoration: none;
  font-size: 2rem;
  padding: 0.5rem;
  border: 2px solid white;
  border-radius: 5px;
  color: darkblue;
  -webkit-box-shadow: 2px 4px #021d53;
          box-shadow: 2px 4px #021d53;
}

.carrusel--boton:hover {
  background-color: #021d53;
  color: wheat;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* MEDIA CARRUSEL */
@media (max-width: 700px) {
  .carrusel--texto {
    position: absolute;
    top: 3rem;
    left: 0.2rem;
    right: 0.2rem;
    font-size: 1rem;
    color: #021d53;
    font-family: 'Patrick Hand', cursive;
  }
  .carrusel--boton {
    position: absolute;
    top: 50%;
    left: 40%;
    -webkit-transform: translate(-100%, -10%);
            transform: translate(-100%, -10%);
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem;
    border: 2px solid white;
    border-radius: 5px;
    color: darkblue;
    -webkit-box-shadow: 2px 4px #021d53;
            box-shadow: 2px 4px #021d53;
  }
  .carrusel--boton:hover {
    background-color: #021d53;
    color: wheat;
    -webkit-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
  }
}

/* MAIN CONTENIDO */
.titulo--seguros {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px 0;
  font-size: 2rem;
  font-family: 'Titillium Web', sans-serif;
}

main {
  width: 70%;
  margin: auto;
}

.seguros--imagen {
  width: 100%;
  height: 20rem;
  opacity: initial;
  -webkit-transition: all 4s;
  transition: all 4s;
}

.seguros--imagen:hover {
  -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

/* FOOTER */
.footer {
  text-align: center;
  margin-top: 1rem;
}

.footer__parrafo {
  color: #080101;
  background-color: #0abed6;
  font-size: 1.5rem;
  font-family: 'Titillium Web', sans-serif;
  padding: 1rem;
  margin-bottom: 1rem;
}

.footer__copyright {
  color: grey;
  font-size: 1rem;
  padding: 1rem;
}

/* Formularios */
.formulario__h1 {
  color: #155be7;
  font-family: 'Karla', sans-serif;
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.cotizacion {
  background: url("../img/cotizaciones/fondo-cotizaciones.jpg");
  background-size: cover;
}

/* ubicacion */
.map-container-5 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container-5 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.ubi-font {
  font-family: 'Karla', sans-serif;
  font-size: 1.5rem;
}

.ubi-font h3 {
  color: #3cb33c;
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.ubi-font h2 {
  color: #3cb33c;
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

/* QUIENES SOMOS? */
.parrafo {
  color: #fff;
  font-size: 1.2rem;
  text-align: justify;
  font-family: 'Karla', sans-serif;
  padding: 1rem;
  text-align: center;
}

.parrafo--titulo2 {
  color: #2a8f2a;
  font-size: 2rem;
  text-align: justify;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}

.parrafo ul {
  text-align: center;
  list-style: none;
}

.nosotros {
  width: 100%;
  background: url("../img/nosotros/fondo-nosotros.jpg");
  background-size: cover;
}

/* SEGURO AUTO */
.row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.etiqueta {
  margin: 0px 0px 30px 0px;
  padding: 5px 12px 5px 10px;
  font-weight: 600;
  font-size: 0.7rem;
  line-height: 0.9rem;
  display: inline-block;
  border-radius: 20px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #a4a4a4;
  color: #fff;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#seguro-fondo {
  width: 100%;
  background: url("../img/auto/parallax-comparti.jpg");
  background-size: cover;
}

.seguro-auto h5 {
  color: #f83052;
  font-size: 2rem;
  text-align: justify;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}

.seguro-auto p {
  color: #364f81;
  font-size: 1.5rem;
  text-align: justify;
  font-family: 'Karla', sans-serif;
  padding: 1rem;
  text-align: center;
  list-style: circle;
}

.seguro-auto ul {
  color: #f7bc3f;
  font-size: 1.5rem;
  text-align: justify;
  font-family: 'Karla', sans-serif;
  padding: 1rem;
  text-align: center;
  list-style: circle;
}

/* SEGURO MARITIMO */
#seguro-fondo-m {
  width: 100%;
  background: url("../img/maritimo/embarcaciones-de-placer-.jpg");
  background-size: cover;
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

.seguro-maritimo h5 {
  color: #ec0027;
  font-size: 2rem;
  text-align: justify;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}

.seguro-maritimo p {
  color: #1759dd;
  font-size: 1.5rem;
  text-align: justify;
  font-family: 'Karla', sans-serif;
  padding: 1rem;
  text-align: center;
  list-style: circle;
}

.seguro-maritimo ul {
  color: #814f20;
  font-size: 1.5rem;
  text-align: justify;
  font-family: 'Karla', sans-serif;
  padding: 1rem;
  text-align: center;
  list-style: circle;
}

/* PRAXIS PROFESIONAL */
#seguro-fondo-p {
  width: 100%;
  background: url("../img/PraxisProfesional/parallax-seguro-de-praxis-profesional2.jpg");
  background-size: cover;
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

.seguro-praxis h5 {
  color: #ec0027;
  font-size: 2rem;
  text-align: justify;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}

.seguro-praxis p {
  color: #0b3281;
  font-size: 1.5rem;
  text-align: justify;
  font-family: 'Karla', sans-serif;
  padding: 1rem;
  text-align: center;
  list-style: circle;
}

.seguro-praxis ul {
  color: #d9f84f;
  font-size: 1.5rem;
  text-align: justify;
  font-family: 'Karla', sans-serif;
  padding: 1rem;
  text-align: center;
  list-style: circle;
}
/*# sourceMappingURL=style.css.map */